Django>=4.0
pandas
numpy
scikit-learn
xgboost
yfinance
mlxtend
vaderSentiment
spacy
nltk
textblob
metaapi-cloud-sdk
snaptrade-python-sdk
gunicorn
whitenoise
reportlab
python-dotenv
nest-asyncio
requests
websockets
python-socketio
pillow
openpyxl
